body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

#background-image {
    background-image: url('background\ image.png'); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    display: flex;
    flex-direction: column;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
}

nav a {
    text-decoration: none;
    color: #fff; 
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff; 
}

#cta-buttons {
    margin-top: 20px;
}

.button {
    text-decoration: none;
    background-color: #f00; 
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    margin: 0 10px;
}

footer {
    background-color: #222; 
    color: #fff;
    text-align: center;
    padding: 10px;
}
body {
  font-family: Arial, sans-serif;
  background: url('background\ image.png') no-repeat center center fixed;
  background-size: cover;
}

header {
  background-color: #041680ff; /* blue shade */
  padding: 10px 0;
  text-align: center;
  color: white;
}

h1 {
  margin: 0;
}



button {
  background-color: #ff61ac; /* Lighter pink shade */
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #ff42a1;
}

footer {
  background-color: #041680ff;
  color: white;
  text-align: center;
  padding: 10px 0;
  position: absolute;
  bottom: 0;
  width: 100%;
}



